/* css文件 */

body
{
background-color: white;
text-align: center;
}
div
{
	margin: 0;
}

/* 大容器，包含所有 */
.container
{
position: relative;
width: 60%;
margin: 0px auto;
text-align: left;
}

/* logo图 */
.logo
{
float: right;
margin: 0 5px 0 0;
}
/*
img
{
border-radius:15px;
}*/

/* 导航栏 */
.navigation
{
width: 80%;
height: 2%;
font-family: Arial;
font-size: 100%;
margin: 5px 0;
}
.navigation ul
{
list-style-type: none;
margin: 0px;
padding: 0px 0px;
}
.navigation li
{
float: left;
margin: 0px;
padding: 0px 0px;
}
.navigation li a
{
display:block;
width: 140px;
height: 22px;
text-align: center;
padding: 5px 0px;
text-decoration: none;
margin: 0px 0px;
}
.navigation li a:link
{
}
.navigation li a:visited
{
}
.navigation li a:hover
{
color: #000000;
text-decoration: underline;
}

/* 相关段落字体 */
p
{
	font-family: Arial,serif;
}
p.name
{
font-family: 华文行楷;
font-weight: bold;
font-size: 150%;
color: #4F94CD;
}
p.title-show, p.title
{
	font-size: 180%;
	font-weight: bold;
	color: #36648B;
	font-family: 幼圆,宋体, sans-serif;
}
p.title
{
	font-size: 105%;
}
p.title-show a, p.title a, p.name a
{
	text-decoration: none;
}
p.title-show a:hover, p.title a:hover
{
	text-decoration: underline;
	color: #7FFFD4;
}
p.date
{
	font-size: 150%;
	font-family: 宋体, sans-serif;
}
p.essay
{
	font-size: 100%;
}
span.ahead
{
font-weight: bold;
font-size: 120%;
letter-spacing: 5px;
}

/* 今天的字体，用于日历 */
#today
{
	color: red;
}

/* 内容大框 */
.content
{
	clear: both;
background-color: transparent;
position: relative;
width: 100%;
margin: 10px auto;
}

/* 文章div */
.new-article, .article
{
	padding-left: 10px; 
	padding-top: 10px;
}
.new-article
{
	width: 65%;
	float: left;
	border-right: 1px dashed #8B7B8B;
	margin-bottom: 5px;
}
.article-show
{
	width: 80%;
	height: 20%;
	overflow: hidden;
	padding-left: 10px;
	border-bottom: 5px solid #FAEBD7;
	margin: 0 0 10px 0;
}

/* 主页右侧栏 */
.me
{
	border: 0;
	width: 30%;
	padding: 20px 5px;
	float: right;
	margin: 10px auto;
}
.wall
{
	margin-top: 20px;
	padding-top: 10px;
}

/* 日历 */
#calendar
{
	text-align: center;
	font-size: 0.8em;
}
#calendar th
{
	font-family: 楷体;
}
#calendar td
{
	font-family: 幼圆;
}

/* 头像 */
.head-picture
{
	border-radius: 20px;
	width: 80%;
}

/* 关于自己 */
.myself
{
width: 100%;
margin-bottom: 10px;
}

/* 个人图片 */
.fqy-picture
{
	width: 20%;
	height: 40%;
	float: left;
	margin: 0 20px 10px 10px;
}

/* 脚注 */
.footer
{
	clear: both;
	text-align: center;
	width: 100%;
	border-top: 1px solid black;
	padding-top: 10px;
	margin-top: 10px;
	background: transparent;
}