/* 今天的字体，用于日历 */
#today
{
	color: red;
}

/* 内容大框 */
.content
{
background-color: transparent;
position: relative;
width: 100%;
margin: 10px auto;
}

/* 文章div */
.new-article, .article
{
	padding-left: 10px; 
	padding-top: 10px;
}
.new-article
{
	width: 65%;
	float: left;
	border-right: 1px dashed #8B7B8B;
	margin-bottom: 5px;
}
.article-show
{
	width: 80%;
	height: 20%;
	overflow: hidden;
	padding-left: 10px;
	border-bottom: 5px solid #FAEBD7;
	margin: 0 0 10px 0;
}

/* 主页右侧栏 */
.me
{
	border: 0;
	width: 30%;
	padding: 20px 5px;
	float: right;
	margin: 10px auto;
}
.wall
{
	margin-top: 20px;
	padding-top: 10px;
}

/* 日历 */
#calendar
{
	text-align: center;
	font-size: 1em;
}
#calendar th
{
	font-family: 楷体;
}
#calendar td
{
	font-family: 幼圆;
}

/* 头像 */
.head-picture
{
	border-radius: 20px;
	width: 80%;
}