body
{
background-color: #F5F5F5;
background-repeat: repeat;
}
div
{	
margin: 0px auto;
}
#logo
{
height: 200px;
width: 1120px;
}
hr
{
height: 20px;
width: 1120px;
background-color: gray;
}
#main
{
background-color: white;
width: 1120px;
height: 1000px;
border-style: solid;
}
div.essay
{
background-color: #FFEFDB;
border: 3px outset #F0FFF0;
margin: 20px;
}
div.title
{
text-align: left;
font-family: FZShuTi;
font-weight: bold;
font-size: 200%;
}
div.date
{
text-align: left;
font-size: 150%;
}
div.text
{
text-align: left;
font-family: STKaiti;STKaiti
}