<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title> Tsubasa </title>
	<link rel = "stylesheet" type = "text/css" href = "/blog.css" />
	<meta http-equiv = "content-type" content = "text/html; charset = utf-8" />
</head>

<body>

	<div class = "container">
		<div class = "logo">
			<img src = "/title.png"/>
		</div>
		<div class = "navigation">
			<ul>
				<li><a href = "/index.html">Home</a></li>
				<li><a href = "/article.html">Journal</a></li>
				<li><a href = "/myself.html">fqy</a></li>
				<li><a href = "#">More</a></li>
				<li><a href = "#">Message Borad</a></li>
			</ul>
		</div>
		<div class = "content">
			<div class = "new-article">
				{{ content }}
			</div>
			<div class = "me">
				<img src = "/head.jpg"/ class = "head-picture">
				<p class = "name"> 羽-fqy </p>
			</div>
		</div>
		<div class = "footer">
			Copyright &copy 2013 <a href="http://weibo.com/tsubasafqy"> 羽-fqy </a>
		</div>
	</div>

</body>
</html>